chromadb==0.5.5
ipykernel==6.29.5
ipython==8.26.0
langchain==0.2.14
langchain-chroma==0.1.2
langchain-community==0.2.12
langchain-core==0.2.33
langchain-ollama==0.1.1
langchain-text-splitters==0.2.2
langsmith==0.1.99
ollama==0.3.1
pdfminer==20191125
PyPDF2==3.0.1
python-dotenv==1.0.1
transformers==4.44.0
